<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Navigációs Sáv</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-3" th:fragment="navbar">
    <div class="container col-md-10">
        <a class="navbar-brand" th:href="@{/}">Főoldal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Navigáció megnyitása">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto py-2 text-end">
                <!-- Anonim felhasználók -->
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/register/manager}"><i class="bi bi-house-add"></i> Hirdesse meg ingatlanját</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/register/customer}"><i class="bi bi-person-plus"></i> Regisztráció</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}"><i class="bi bi-box-arrow-in-right"></i> Bejelentkezés</a>
                </li>
                <!-- Adminisztrátor -->
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin/dashboard}"><i class="bi bi-speedometer2"></i> Irányítópult</a>
                </li>
                <!-- Vendég -->
                <li class="nav-item" sec:authorize="hasRole('ROLE_CUSTOMER')">
                    <a class="nav-link" th:href="@{/search}"><i class="bi bi-search"></i> Szállodák keresése</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_CUSTOMER')">
                    <a class="nav-link" th:href="@{/customer/bookings}"><i class="bi bi-calendar-check"></i> Foglalásaim</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_CUSTOMER')">
                    <a class="nav-link" th:href="@{/customer/account}"><i class="bi bi-person-circle"></i> Fiókom</a>
                </li>
                <!-- Szállodavezető -->
                <li class="nav-item" sec:authorize="hasRole('ROLE_HOTEL_MANAGER')">
                    <a class="nav-link" th:href="@{/manager/dashboard}"><i class="bi bi-speedometer2"></i> Irányítópult</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_HOTEL_MANAGER')">
                    <a class="nav-link" th:href="@{/manager/account}"><i class="bi bi-person-circle"></i> Fiókom</a>
                </li>
                <!-- Kijelentkezés -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div class="d-flex justify-content-end">
                        <form class="form-inline" method="post" th:action="@{/logout}">
                            <button class="btn btn-link nav-link" type="submit"><i class="bi bi-box-arrow-right"></i> Kijelentkezés</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
